flows.json
[{"id":"9b2da3bb.dfd92","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"9b2da3bb.dfd92","name":"Node-Red y Git","info":"","x":420,"y":40,"wires":[]},{"id":"2615be4.e31a442","type":"inject","z":"9b2da3bb.dfd92","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":160,"wires":[["f2e8538.45c04b"]]},{"id":"f2e8538.45c04b","type":"debug","z":"9b2da3bb.dfd92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":160,"wires":[]}]